header {
  margin-bottom: 15px;
}
.slider {
  border: 1px solid #000;
  padding: 10px;
}
.friends, .tracks {
  height: 300px;
  overflow-y: auto;
  cursor: pointer;
  float: left;
  clear: both;
}
.one-friend {
  width: 70px;
  float: left;
  text-align: center;
  margin: 2px;
  border-radius: 2px;
}
.one-friend_checked {
  background: #930000;
  color: #FFF;
}
/*checked*/
.checked {
  background: #930000;
  color: #FFF;
}
.one-friend__img {
  padding: 3px 0 0 0;
}
.one-friend__label, .one-track-info {
  font-size: 10px;
}
.one-friend__label {
  height: 27px;
}
.btn-next {
  margin: 10px auto;
}
.one-track__ico, .one-track-info {
  display: inline-block;
}
.one-track-info__artist {
  font-weight: bold;
}
.answer {
  cursor: pointer;
}
.answer:hover {
  color: #A94442;
}
