<div class="step">
  <h3>Выбери трэк, под который ты тащишь всегда</h3>
  <div class="row">
    <div class="tracks col-md-12">
      <div ng-repeat="track in vkAudio">
        <div class="one-track" ng-click="setCheckedOne(track,vkAudio)" ng-class="{'checked':track.checked}">
          <div class="one-track__ico">
            <span class="glyphicon glyphicon-headphones"></span>
          </div>
          <div class="one-track-info">
            <div class="one-track-info__artist">{{track.artist}}</div>
            <div class="one-track-info__title">{{track.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <asker-next url="'step-300-choose-commentator'" answers="answers" label="'Кто будет комментировать?'" maximum="1" handler="setAnswers('vkAudio','music')"></asker-next>

</div>
