<div class="step">
  <h3>Выбери трэк, под который ты тащишь всегда</h3>
  <div class="tracks col-md-12">
    <div ng-repeat="track in vkAudio">
      <div class="one-track" ng-click="setChecked(track,1)" ng-class="{'checked':track.checked}">
          <div class="one-track__ico">
            <span class="glyphicon glyphicon-headphones"></span>
          </div>
          <div class="one-track-info">
            <div class="one-track-info__artist">{{track.artist}}</div>
            <div class="one-track-info__title">{{track.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     <a ui-sref="step-300-choose-commentator" class="btn btn-danger" ng-disabled="!(answers === 1)" ng-click="setAnswers('vkAudio','music')">Дальше!</a>
    </div>
  </div>
</div>
